name: Allure Report to GitHub Pages

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install allure-pytest

      - name: Run tests with Allure
        run: |
          pytest --alluredir=allure-results

      - name: Install Allure CLI
        run: |
          wget https://github.com/allure-framework/allure2/releases/download/2.29.0/allure-2.29.0.zip -O allure.zip
          unzip allure.zip -d /tmp/allure
          sudo mv /tmp/allure/allure-2.29.0 /opt/allure
          echo "/opt/allure/bin" >> $GITHUB_PATH

      - name: Generate HTML report
        run: |
          allure generate allure-results -o allure-report --clean

      # ONLY ONE PAGES ARTIFACT
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: allure-report

  deploy:
    needs: test-and-publish
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy GitHub Pages
        uses: actions/deploy-pages@v4
